// Heading Color
$heading-color: #363636;

// Text Color
$text-color: #2b2b2b;

// Default Background
$bg-default: #F2A413;

// Gray Background
$bg-gray: #f3f3f3;

// Primary Color
$pri-color: #F2A413;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Red Color
$red-color: #ff0000;

// Border Color
$border-color: #eaeaea;

// Hover Color
$hover-color: #F2A413;

// Footer Color
$footer-color: #363636;

// Secondary Color
$secondary-color: #838383;